- if notice.present?
  .alert.alert-success{data: {autoclose: true}}
    = notice

.row
  = link_to t('views.badge_sets.links.add_set'), "#", class: 'btn btn-large btn-primary pull-right'
%br/

%table.table.table-hover
  %thead
    %tr
      %th= t(:name, scope: 'activerecord.attributes.badge_set')

      %th &nbsp;

  %tbody
    - 10.times.each do |i|
      %tr
        %td= "Сет #{i}"
        %td
          .btn-group
            %button.btn{data: {click: "#"}= t('forms.labels.see')
            %button.btn.dropdown-toggle{'data-toggle' => "dropdown"}
              %span.caret
            
            %ul.dropdown-menu
              %li
                = link_to t('forms.labels.delete'), "#", onclick: "alert('O, RLY!?')"
